@import "../shared/helper";

.home {
  background: rgb(0, 50, 87);
  background: -moz-linear-gradient(50deg, rgb(0, 50, 87) 39%, rgb(3, 35, 109) 94%);
  background: -webkit-linear-gradient(50deg, rgb(0, 50, 87) 39%, rgb(3, 35, 109) 94%);
  background: -o-linear-gradient(50deg, rgb(0, 50, 87) 39%, rgb(3, 35, 109) 94%);
  background: -ms-linear-gradient(50deg, rgb(0, 50, 87) 39%, rgb(3, 35, 109) 94%);
  background: linear-gradient(140deg, rgb(0, 50, 87) 39%, rgb(3, 35, 109) 94%);

  color: white;
  font-size: px(16);
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    height: px(99);
    background-size: cover;
    width: px(2420);
    margin: 0 auto;
  }

  > footer {
    height: px(68);
    width: px(2420);
    margin: px(20) auto 0 auto;
    border: 1px solid #0d2d59;
    border-radius: px(4);
    background: #062248;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .home-header-name {
    text-align: center;
    margin-top: px(-90);
    font-size: px(60);
    color: lightgray;
  }

  > main {
    width: px(2420);
    margin: 0 auto;
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    padding-top: px(28);

    > section {
      text-align: center
    }

    .bordered {
      border: px(1) solid #0764bc;
      border-radius: px(4);
      position: relative;
      box-shadow: 0 0 px(2) 0 #0f3361, inset 0 0 px(2) 0 #0f3361;
      background: #062248;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: px(4);
        box-shadow: px(17) 0 0 px(-16) #0f3361,
        px(-17) 0 0 px(-16) #0f3361,
        0 px(17) 0 px(-16) #0f3361,
        0 px(-17) 0 px(-16) #0f3361,
        px(9) 0 0 px(-8) #0d4483,
        px(-9) 0 0 px(-8) #0d4483,
        0 px(9) 0 px(-8) #0d4483,
        0 px(-9) 0 px(-8) #0d4483;
      }
    }

    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section3 {
      grid-area: box3;
    }

    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .section4-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    > .section5 {
      grid-area: box5;
    }

    .chart1, .chart2, .chart3, .chart4, .table1, .map1, .chart5, .chart6, .chart7 {
      height: px(315);
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        line-height: px(24);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) white;
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .chart2 {
      height: px(423);

      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0 px(20) px(10);

        > .first, > .second {
          display: inline-block;
          width: px(18);
          height: px(12);
          background: red;
          margin: 0 px(10);
        }

        > .first {
          background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
        }

        > .second {
          background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
        }
      }
    }

    .chart3, .chart4 {
      height: px(363);
    }

    .chart5, .chart6 {
      height: px(380);
      width: px(400);

      > .chart {
        flex: 1;
        width: 100%;
        font-size: px(20);
      }
    }

    .chart7 {
      height: 100%;
    }

    .table1 {
      > table {
        margin-top: px(38);
        border-collapse: collapse;

        th, td {
          border: 1px solid #1a3671;
        }

        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }

        tbody {
          td {
            height: px(50);
            width: px(84);
            background: #1c2456;
          }
        }
      }
    }

    .map1 {
      height: px(753);
      background: #062248;

      > .wrapper {
        position: relative;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        .chart {
          flex: 1;
        }

        .legend {
          position: absolute;
          top: px(40);
          left: px(20);
          display: flex;
          align-items: center;
          font-size: px(22);
          padding: px(20) px(10) px(20) 0;
          border-radius: 0;

          .icon {
            margin: 0 px(10);
            display: inline-block;
            width: px(16);
            height: px(16);
            border-radius: 50%;
            background: #1cecd9;
          }
        }

        .notes {
          position: absolute;
          bottom: px(10);
          right: px(10);
        }
      }
    }
  }
}
